## XLS Files creation

In [1]:
# Install the required library
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.7/dist-packages (3.0.3)

In [2]:
# Import the required modules
import xlsxwriter
import string    
import random 

# Setup total number of rows
rows = 500001
 
# Workbook() takes one, non-optional, argument
# which is the filename that we want to create
workbook = xlsxwriter.Workbook('file1.xls')
 
# The workbook object is then used to add new
# worksheet via the add_worksheet() method
worksheet = workbook.add_worksheet("file1")
 
# Use the worksheet object to write
# data via the write() method
worksheet.write(f'A1', 'id')
worksheet.write(f'B1', 'first_name')
worksheet.write(f'C1', 'last_name')
worksheet.write(f'D1', 'address')
worksheet.write(f'E1', 'city')
worksheet.write(f'F1', 'country')
worksheet.write(f'G1', 'number_of_doctors')
worksheet.write(f'H1', 'GDP')

# Number of characters in the random strings
S = 5

# Add data in the xls file 1
# We get randomly 500000 rows
for i in range(2, rows):
  worksheet.write(f'A{i}', i-1)
  # Call random.choices() string module to find the string in lowercase
  random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
  worksheet.write(f'B{i}', random_text)
  random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
  worksheet.write(f'C{i}', random_text)
  random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
  worksheet.write(f'D{i}', random_text)
  random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
  worksheet.write(f'E{i}', random_text)
  random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
  worksheet.write(f'F{i}', random_text)
  random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
  worksheet.write(f'G{i}', random_text)
  random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
  worksheet.write(f'H{i}', random_text)

# Finally, close the Excel file
# via the close() method.
workbook.close()

In [3]:
import pandas as pd

# Read the content of file 1
file1_data = pd.read_excel('file1.xls', sheet_name="file1")

print(file1_data.describe)

<bound method NDFrame.describe of             id first_name last_name address   city country number_of_doctors  \
0            1      zvrew     ojwrt   plgso  wdgzy   etiki             jweda
1            2      jfqdn     mhbiv   jyrwv  mzvyn   afnee             fgoky
2            3      vdmii     upole   xnrrk  dvinz   brvsk             jjlzq
3            4      wzcfh     gppki   skast  oojhf   nwxmy             gchpo
4            5      ljybh     lttbz   pepbf  glvpr   qmswz             absqg
...        ...        ...       ...     ...    ...     ...               ...
499994  499995      rvzwo     llosk   cjgoc  kvynk   cccvp             xkvxh
499995  499996      ossvc     kcdcd   gqoxu  yumeb   rzxpu             nqgaq
499996  499997      hocnu     hyzqs   xjiar  xpmnb   iipob             yqouj
499997  499998      fzmgg     khgge   uqzaj  rtzuk   pvekt             pwzyx
499998  499999      oflax     trkur   juzki  ocbyd   gkqxr             hiwzp

          GDP
0       vmmxe
1       frhvz
2       gupsr
3       druso
4       lleun
...       ...
499994  ekxza
499995  cxknz
499996  xjxmo
499997  uhmua
499998  zqakv

[499999 rows x 8 columns]>

In [4]:
# Take only 50% of the data to add in the second xls file
file1_data = file1_data[:int(len(file1_data) / 2)]

print(file1_data.describe)

<bound method NDFrame.describe of             id first_name last_name address   city country number_of_doctors  \
0            1      zvrew     ojwrt   plgso  wdgzy   etiki             jweda
1            2      jfqdn     mhbiv   jyrwv  mzvyn   afnee             fgoky
2            3      vdmii     upole   xnrrk  dvinz   brvsk             jjlzq
3            4      wzcfh     gppki   skast  oojhf   nwxmy             gchpo
4            5      ljybh     lttbz   pepbf  glvpr   qmswz             absqg
...        ...        ...       ...     ...    ...     ...               ...
249994  249995      gzqmn     pfhaa   pvcmz  unhbo   ozmny             vhiiz
249995  249996      hclqz     nejqf   tczgk  oyqmw   trnov             jsxwh
249996  249997      uthdg     lqxbd   cgowy  hsxpj   nfzoh             avild
249997  249998      cnxaa     adkcn   qcsuj  smnpw   txolv             mjnbu
249998  249999      iefnw     xjyyi   slzub  rrrra   zpqir             treym

          GDP
0       vmmxe
1       frhvz
2       gupsr
3       druso
4       lleun
...       ...
249994  aimkl
249995  jytfr
249996  uqwab
249997  uuljj
249998  zaqjo

[249999 rows x 8 columns]>

In [5]:
file1_data.head()

   id first_name last_name address   city country number_of_doctors    GDP
0   1      zvrew     ojwrt   plgso  wdgzy   etiki             jweda  vmmxe
1   2      jfqdn     mhbiv   jyrwv  mzvyn   afnee             fgoky  frhvz
2   3      vdmii     upole   xnrrk  dvinz   brvsk             jjlzq  gupsr
3   4      wzcfh     gppki   skast  oojhf   nwxmy             gchpo  druso
4   5      ljybh     lttbz   pepbf  glvpr   qmswz             absqg  lleun

In [6]:
# Workbook() takes one, non-optional, argument
# which is the filename that we want to create
workbook = xlsxwriter.Workbook('file2.xls')
 
# The workbook object is then used to add new
# worksheet via the add_worksheet() method
worksheet = workbook.add_worksheet("file2")
 
# Use the worksheet object to write
# data via the write() method
worksheet.write(f'A1', 'id')
worksheet.write(f'B1', 'first_name')
worksheet.write(f'C1', 'last_name')
worksheet.write(f'D1', 'address')
worksheet.write(f'E1', 'city')
worksheet.write(f'F1', 'country')
worksheet.write(f'G1', 'number_of_doctors')
worksheet.write(f'H1', 'GDP')

# Number of characters in the random strings
S = 5
rows_count = 0

# Add data in the xls file 2
# We take 50% of the data from file 1
for ind in file1_data.index:
  # Copy data from file1
  worksheet.write(f'A{ind+2}', file1_data['id'][ind])
  worksheet.write(f'B{ind+2}', file1_data['first_name'][ind]) 
  worksheet.write(f'C{ind+2}', file1_data['last_name'][ind]) 
  worksheet.write(f'D{ind+2}', file1_data['address'][ind])
  worksheet.write(f'E{ind+2}', file1_data['city'][ind])   
  worksheet.write(f'F{ind+2}', file1_data['country'][ind])
  worksheet.write(f'G{ind+2}', file1_data['number_of_doctors'][ind]) 
  worksheet.write(f'H{ind+2}', file1_data['GDP'][ind])

  # Some rows from file 1 will be modified (all the columns without the ID)
  if ind % 50 == 0:
      random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
      worksheet.write(f'B{ind+2}', random_text)
      random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
      worksheet.write(f'C{ind+2}', random_text)
      random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
      worksheet.write(f'D{ind+2}', random_text)
      random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
      worksheet.write(f'E{ind+2}', random_text)
      random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
      worksheet.write(f'F{ind+2}', random_text)
      random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
      worksheet.write(f'G{ind+2}', random_text)
      random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
      worksheet.write(f'H{ind+2}', random_text)

  rows_count = ind

# Add data in the xls file
for i in range(rows_count + 3, rows):
  worksheet.write(f'A{i}', rows - rows_count + i - 4)
  # Call random.choices() string module to find the string in lowercase
  random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
  worksheet.write(f'B{i}', random_text)
  random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
  worksheet.write(f'C{i}', random_text)
  random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
  worksheet.write(f'D{i}', random_text)
  random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
  worksheet.write(f'E{i}', random_text)
  random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
  worksheet.write(f'F{i}', random_text)
  random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
  worksheet.write(f'G{i}', random_text)
  random_text = ''.join(random.choices(string.ascii_lowercase, k = S))    
  worksheet.write(f'H{i}', random_text)

# Finally, close the Excel file
# via the close() method.
workbook.close()

## Differences between file1.xls and file2.xls

In [7]:
import pandas as pd

file1_data = pd.read_excel('file1.xls', sheet_name="file1")
file2_data = pd.read_excel('file2.xls', sheet_name="file2")

In [8]:
print(file1_data.describe)

<bound method NDFrame.describe of             id first_name last_name address   city country number_of_doctors  \
0            1      zvrew     ojwrt   plgso  wdgzy   etiki             jweda
1            2      jfqdn     mhbiv   jyrwv  mzvyn   afnee             fgoky
2            3      vdmii     upole   xnrrk  dvinz   brvsk             jjlzq
3            4      wzcfh     gppki   skast  oojhf   nwxmy             gchpo
4            5      ljybh     lttbz   pepbf  glvpr   qmswz             absqg
...        ...        ...       ...     ...    ...     ...               ...
499994  499995      rvzwo     llosk   cjgoc  kvynk   cccvp             xkvxh
499995  499996      ossvc     kcdcd   gqoxu  yumeb   rzxpu             nqgaq
499996  499997      hocnu     hyzqs   xjiar  xpmnb   iipob             yqouj
499997  499998      fzmgg     khgge   uqzaj  rtzuk   pvekt             pwzyx
499998  499999      oflax     trkur   juzki  ocbyd   gkqxr             hiwzp

          GDP
0       vmmxe
1       frhvz
2       gupsr
3       druso
4       lleun
...       ...
499994  ekxza
499995  cxknz
499996  xjxmo
499997  uhmua
499998  zqakv

[499999 rows x 8 columns]>

In [9]:
print(file2_data.describe)

<bound method NDFrame.describe of             id first_name last_name address   city country number_of_doctors  \
0            1      jnixw     vnecb   jacje  lmkbm   jreej             xfkti
1            2      jfqdn     mhbiv   jyrwv  mzvyn   afnee             fgoky
2            3      vdmii     upole   xnrrk  dvinz   brvsk             jjlzq
3            4      wzcfh     gppki   skast  oojhf   nwxmy             gchpo
4            5      ljybh     lttbz   pepbf  glvpr   qmswz             absqg
...        ...        ...       ...     ...    ...     ...               ...
499994  749995      tfnhv     jbeki   pyyhr  prxbd   hjrqx             kmpup
499995  749996      qmgfu     wceqn   nsoky  trbut   fyybw             uborb
499996  749997      ynuon     hfedx   pblwd  plapn   efkrm             kzjaw
499997  749998      xdpuk     wnaze   uquwr  ciuwc   nkxtg             xabsn
499998  749999      ikcep     ikwjy   awnhm  isuai   yswcy             pvdta

          GDP
0       jrbck
1       frhvz
2       gupsr
3       druso
4       lleun
...       ...
499994  swsql
499995  jxupt
499996  csakz
499997  zqrca
499998  xeprw

[499999 rows x 8 columns]>

In [10]:
# For file1, we create a dictionary with:
# key = id of the row;
# value = all the columns concatenated with "#" between them.
# We choose dictionary for our data, because dictionaries have constant time 
# complexity, O(1) while lists have linear time complexity, O(n). 
# We use the dictionary to search values in it.
# The structure of the data is:
# {
#    1: "aaaaa#aaaaa#aaaaa#aaaaa#aaaaa#aaaaa#aaaaa",
#    2: "aaaaa#aaaaa#aaaaa#aaaaa#aaaaa#aaaaa#aaaaa"
# }
file1_dict = {}

for i in range(file1_data.shape[0]):
  columns = [file1_data.iloc[i]['first_name'], 
             file1_data.iloc[i]['last_name'], 
             file1_data.iloc[i]['address'], 
             file1_data.iloc[i]['city'], 
             file1_data.iloc[i]['country'], 
             file1_data.iloc[i]['number_of_doctors'], 
             file1_data.iloc[i]['GDP']]
             
  file1_dict[file1_data.iloc[i]['id']] = "#".join(columns)

In [11]:
# For file2, we create a dictionary with:
# key = id of the row;
# value = all the columns concatenated with "#" between them.
# We choose dictionary for our data, because dictionaries have constant time 
# complexity, O(1) while lists have linear time complexity, O(n). 
# We use the dictionary to search values in it.
# The structure of the data is:
# {
#    1: "aaaaa#aaaaa#aaaaa#aaaaa#aaaaa#aaaaa#aaaaa",
#    2: "aaaaa#aaaaa#aaaaa#aaaaa#aaaaa#aaaaa#aaaaa"
# }
file2_dict = {}

for i in range(file2_data.shape[0]):
  columns = [file2_data.iloc[i]['first_name'], 
             file2_data.iloc[i]['last_name'], 
             file2_data.iloc[i]['address'], 
             file2_data.iloc[i]['city'], 
             file2_data.iloc[i]['country'], 
             file2_data.iloc[i]['number_of_doctors'], 
             file2_data.iloc[i]['GDP']]
             
  file2_dict[file2_data.iloc[i]['id']] = "#".join(columns)

In [12]:
# Import the required modules
import xlsxwriter
import string    
import random 

# We create the xls files for the result
# Workbook() takes one, non-optional, argument
# which is the filename that we want to create
workbook_same = xlsxwriter.Workbook('diff_same.xls')
workbook_updated = xlsxwriter.Workbook('diff_updated.xls')
workbook_added = xlsxwriter.Workbook('diff_added.xls')
workbook_removed = xlsxwriter.Workbook('diff_removed.xls')
 
# The workbook object is then used to add new
# worksheet via the add_worksheet() method
worksheet_same = workbook_same.add_worksheet("diff_same")
worksheet_updated = workbook_updated.add_worksheet("diff_updated")
worksheet_added = workbook_added.add_worksheet("diff_added")
worksheet_removed = workbook_removed.add_worksheet("diff_removed")

# Use the worksheet object to write
# data via the write() method
def add_columns(worksheet):
  worksheet.write(f'A1', 'id')
  worksheet.write(f'B1', 'first_name')
  worksheet.write(f'C1', 'last_name')
  worksheet.write(f'D1', 'address')
  worksheet.write(f'E1', 'city')
  worksheet.write(f'F1', 'country')
  worksheet.write(f'G1', 'number_of_doctors')
  worksheet.write(f'H1', 'GDP')
  return worksheet

worksheet_same = add_columns(worksheet_same)
worksheet_updated = add_columns(worksheet_updated)
worksheet_added = add_columns(worksheet_added)
worksheet_removed = add_columns(worksheet_removed)

In [13]:
def add_data(worksheet, id, data, row):
  # Take the data and split it using the "#" separator.
  # Each elements from the splitted string will go in the worksheet
  data = data.split("#")
  worksheet.write(f'A{row}', id)
  worksheet.write(f'B{row}', data[0])
  worksheet.write(f'C{row}', data[1])
  worksheet.write(f'D{row}', data[2])
  worksheet.write(f'E{row}', data[3])
  worksheet.write(f'F{row}', data[4])
  worksheet.write(f'G{row}', data[5]) 
  worksheet.write(f'H{row}', data[6])
  return worksheet

rows_same = 2
rows_updated = 2
rows_added = 2
rows_removed = 2

# We take each key from file 2 xls
for key in list(file2_dict.keys()):
  # If the key is present in file 1, it means that the other columns can
  # be the same or can be different
  if key in file1_dict:
    # Keys are the same. If the values are the same, we add the row from file 2 
    # to "diff_same.xls"
    if file2_dict[key] == file1_dict[key]:
      # Row to be added in "diff_same.xls"
      worksheet_same = add_data(worksheet_same, key, file2_dict[key], rows_same)
      rows_same += 1

      # !!!!! ***** IMPORTANT ***** !!!!!
      # For an optimal solution, if we find the key in file 1, we remove that 
      # row from file 1. Therefore, by the end, in file 1 dictionary we will have
      # only the data that was removed 

      del file1_dict[key]
    # Keys are the same. If the values are different, we add the row from file 2 
    # to "diff_updated.xls"
    else:
      # Row to be added in "diff_updated.xls"
      worksheet_updated = add_data(worksheet_updated, key, file2_dict[key], rows_updated)
      rows_updated += 1

      # !!!!! ***** IMPORTANT ***** !!!!!
      # For an optimal solution, if we find the key in file 1, we remove that 
      # row from file 1. Therefore, by the end, in file 1 dictionary we will have
      # only the data that was removed 

      del file1_dict[key]
  # If the key is not present in file 1, we add the row from file 2 to 
  # "diff_added.xls"
  else:
    # Row to be added in "diff_added.xls"
    worksheet_added = add_data(worksheet_added, key, file2_dict[key], rows_added)
    rows_added += 1

In [14]:
# Remaining values from file1 were removed in file2, so we add the rows to 
# "diff_removed.xls"
for key in file1_dict:
  # Row to be added in "diff_removed.xls"
  worksheet_removed = add_data(worksheet_removed, key, file1_dict[key], rows_removed)
  rows_removed += 1

In [15]:
# Finally, close the Excel file
# via the close() method.
workbook_same.close()
workbook_updated.close()
workbook_added.close()
workbook_removed.close()